<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTI News Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="nav-sidebar">
        <h3>Sources</h3>
        <a href="/filter?source=All&keywords={{ ','.join(keywords) }}" class="nav-link {% if not current_filter or current_filter == 'All' %}active{% endif %}">Home</a>
        <a href="/filter?source=Bleeping%20Computer&keywords={{ ','.join(keywords) }}" class="nav-link {% if current_filter == 'Bleeping Computer' %}active{% endif %}">Bleeping Computer</a>
        <a href="/filter?source=The%20Hacker%20News&keywords={{ ','.join(keywords) }}" class="nav-link {% if current_filter == 'The Hacker News' %}active{% endif %}">The Hacker News</a>
        <a href="/filter?source=Cybersecurity%20Dive&keywords={{ ','.join(keywords) }}" class="nav-link {% if current_filter == 'Cybersecurity Dive' %}active{% endif %}">Cybersecurity Dive</a>
        <a href="/filter?source=Security%20Week&keywords={{ ','.join(keywords) }}" class="nav-link {% if current_filter == 'Security Week' %}active{% endif %}">Security Week</a>
        <a href="/filter?source=Info%20Security&keywords={{ ','.join(keywords) }}" class="nav-link {% if current_filter == 'Info Security' %}active{% endif %}">Info Security</a>
        <a href="/filter?source=API%20Security%20News&keywords={{ ','.join(keywords) }}" class="nav-link {% if current_filter == 'API Security News' %}active{% endif %}">API Security News</a>
        <a href="/filter?source=Trend%20Micro&keywords={{ ','.join(keywords) }}" class="nav-link {% if current_filter == 'Trend Micro' %}active{% endif %}">Trend Micro Research</a>
        <a href="/filter?source=Developer%20Tech&keywords={{ ','.join(keywords) }}" class="nav-link {% if current_filter == 'Developer Tech' %}active{% endif %}">Developer Tech</a>
        <a href="/filter?source=Born%20City&keywords={{ ','.join(keywords) }}" class="nav-link {% if current_filter == 'Born City' %}active{% endif %}">Born City</a>
        <a href="/filter?source=Zataz%20News&keywords={{ ','.join(keywords) }}" class="nav-link {% if current_filter == 'Zataz News' %}active{% endif %}">Zataz News</a>

        <form id="clear-filters-form" action="/clear_filters" method="post">
            <input type="hidden" name="current_filter" value="{{ current_filter }}">
            <button type="submit" class="btn btn-danger mt-3">Clear Filters</button>
        </form>
    </div>
    <div class="container content mt-4">
        <h1>CTI News Dashboard</h1>

        <!-- Sorting Options -->
        <div class="sorting-options mb-3">
            <a href="{{ url_for('filter_by_keywords', source=current_filter, keywords=','.join(keywords), sort='date', page=1) }}" class="btn btn-secondary {% if sort_order == 'date' %}active{% endif %}">Sort by Date</a>
            <a href="{{ url_for('filter_by_keywords', source=current_filter, keywords=','.join(keywords), sort='severity', page=1) }}" class="btn btn-secondary {% if sort_order == 'severity' %}active{% endif %}">Sort by Severity</a>
        </div>

        <!-- Flex Container for Table and Chart -->
        <div class="d-flex flex-row">
            <!-- CVEs Section -->
            <div class="cve-table">
                <h2>CVE Table : </h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>CVE ID</th>
                            <th>Details</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cve in cves %}
                        <tr>
                            <td>{{ cve['cve_id'] }}</td>
                            <td class="details">
                                <div class="title">{{ cve['vulnerability_name'] }}</div>
                                <div>{{ cve['short_description'] }}</div>
                                <a href="{{ cve['nvd_link'] }}" target="_blank" class="nvd-link">NVD Link</a>
                            </td>
                            <td class="score">
                                {% if 'HIGH' in cve['score'] %}
                                <span class="severity-high">{{ cve['score'] }}</span>
                                {% elif 'MEDIUM' in cve['score'] %}
                                <span class="severity-medium">{{ cve['score'] }}</span>
                                {% elif 'LOW' in cve['score'] %}
                                <span class="severity-low">{{ cve['score'] }}</span>
                                {% elif 'CRITICAL' in cve['score'] %}
                                <span class="severity-critical">{{ cve['score'] }}</span>
                                {% else %}
                                <span class="severity-unknown">{{ cve['score'] }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Pagination for CVEs -->
                <div class="pagination">
                    {% if page > 1 %}
                    <a href="{{ url_for('filter_by_keywords', source=current_filter, keywords=','.join(keywords), page=page-1, sort=sort_order) }}">Previous</a>
                    {% endif %}
                    {% if page < total_pages %}
                    <a href="{{ url_for('filter_by_keywords', source=current_filter, keywords=','.join(keywords), page=page+1, sort=sort_order) }}">Next</a>
                    {% endif %}
                </div>
            </div>

            <!-- Chart Section -->
            <div class="chart-container">
                <canvas id="severityChart"></canvas>
                <canvas id="vendorChart" style="margin-top: 20px;"></canvas>

            </div>
        </div>
        <br>
        <!-- Add this within your existing HTML template, e.g., filter.html -->
        <!-- Add this within your existing HTML template, e.g., home.html -->
        {% if current_filter != 'All' %}
        <form action="{{ url_for('rewrite_summary_route', source=current_filter) }}" method="post" class="mt-3">
            <button type="submit" class="btn btn-success">Rewrite Summary</button>
        </form>
        {% endif %}


        {% if current_filter != 'All' %}
        <!-- Summary of Yesterday's News -->
        <div class="summary-container mb-4">
            <h2>Summary of Yesterday's News</h2>
            <p>{{ summary }}</p>
        </div>
        {% endif %}
        <br>

        <form action="{{ url_for('refresh') }}" method="post" class="mt-3">
            <button type="submit" class="btn btn-success">Refresh Articles</button>
        </form>

        <!-- Keyword Search Form -->
        <form id="filter-form" action="/filter" method="post">
            <div class="form-group d-flex">
                <input type="text" id="keyword-input" class="form-control" placeholder="Enter keyword and press Enter">
                <button type="button" id="add-keyword-btn" class="btn btn-primary ml-2">Add Keyword</button>
            </div>
            <div class="keywords-container mb-3">
                <input type="hidden" name="keywords" id="keywords-input" value="{{ ','.join(keywords) if keywords else '' }}">
                <input type="hidden" name="source" value="{{ current_filter }}">
                <div id="keywords-list">
                    {% for keyword in keywords %}
                    <span class="keyword-item">{{ keyword }}</span>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>

        <div class="row mt-4">
            <div class="col-12">
                {% for article in articles %}
                <div class="article-container">
                    <img src="{{ article.image }}" alt="Article Image" class="article-image" style="width: 170px;">
                    <div class="article-content">
                        <div class="article-title">{{ article.title }}</div>
                        <div class="article-summary">{{ article.summary }}</div>
                        <a class="read-more-link">Read more</a>
                        <p><strong>Date:</strong> {{ article.date }}</p>
                        <p><a class="full" href="{{ article.url }}" target="_blank">Read full article</a></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Pagination for Articles -->
        <div class="pagination">
            {% if page > 1 %}
            <a href="{{ url_for('filter_by_keywords', source=current_filter, keywords=','.join(keywords), page=page-1, sort=sort_order) }}">Previous</a>
            {% endif %}
            {% if page < total_pages %}
            <a href="{{ url_for('filter_by_keywords', source=current_filter, keywords=','.join(keywords), page=page+1, sort=sort_order) }}">Next</a>
            {% endif %}
        </div>


    </div>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const keywordInput = document.getElementById('keyword-input');
        const keywordsList = document.getElementById('keywords-list');
        const keywordsInput = document.getElementById('keywords-input');
        const addKeywordBtn = document.getElementById('add-keyword-btn');
        let keywords = keywordsInput.value ? keywordsInput.value.split(',') : [];

        function addKeyword(keyword) {
            if (keyword && !keywords.includes(keyword)) {
                keywords.push(keyword);
                const keywordItem = document.createElement('span');
                keywordItem.className = 'keyword-item';
                keywordItem.textContent = keyword;
                keywordsList.appendChild(keywordItem);
                keywordsInput.value = keywords.join(',');
                keywordInput.value = '';
                keywordItem.addEventListener('click', function() {
                    removeKeyword(keywordItem.textContent);
                });
            }
        }

        function removeKeyword(keyword) {
            keywords = keywords.filter(k => k !== keyword);
            keywordsInput.value = keywords.join(',');
            const keywordItems = Array.from(document.getElementsByClassName('keyword-item'));
            keywordItems.forEach(item => {
                if (item.textContent === keyword) {
                    keywordsList.removeChild(item);
                }
            });
        }

        keywordInput.addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                addKeyword(keywordInput.value.trim());
            }
        });

        addKeywordBtn.addEventListener('click', function() {
            addKeyword(keywordInput.value.trim());
        });

        document.querySelectorAll('.keyword-item').forEach(function(item) {
            item.addEventListener('click', function() {
                removeKeyword(item.textContent);
            });
        });

        document.querySelectorAll('.read-more-link').forEach(function(link) {
            link.addEventListener('click', function() {
                let articleContainer = this.closest('.article-container');
                articleContainer.classList.toggle('expanded');
            });
        });

        document.querySelectorAll('.read-more').forEach(function(link) {
            link.addEventListener('click', function() {
                const fullDescription = this.previousElementSibling;
                fullDescription.classList.toggle('show');
                this.textContent = fullDescription.classList.contains('show') ? 'Read less' : 'Read more';
            });
        });

        // Data for the chart
        const severityCounts = {{ severity_counts_json|safe }};
        console.log("Severity Counts:", severityCounts);  // Debug statement
        const currentYear = new Date().getFullYear();

        const data = {
            labels: Object.keys(severityCounts),
            datasets: [{
                label: `Severity Distribution in ${currentYear}`,  // Use backticks for template literals
                data: Object.values(severityCounts),
                backgroundColor: [
                    'rgba(255, 99, 132, 0.8)',
                    'rgba(255, 159, 64, 0.8)',
                    'rgba(255, 205, 86, 0.8)',
                    'rgba(75, 192, 192, 0.8)',
                    'rgba(201, 203, 207, 0.8)'
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(201, 203, 207)'
                ],
                borderWidth: 1,
                barPercentage: 0.5,
                categoryPercentage: 0.5
            }]
        };

        const config = {
            type: 'bar',
            data: data,
            options: {
                maintainAspectRatio: true,
                aspectRatio: 1.5,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            },
        };

        // Render the chart
        new Chart(
            document.getElementById('severityChart'),
            config
        );
         const vendorCounts = {{ vendor_counts_json|safe }};
    const vendorLabels = Object.keys(vendorCounts);
    const vendorData = Object.values(vendorCounts);

    const vendorChartConfig = {
        type: 'bar',
        data: {
            labels: vendorLabels,
            datasets: [{
                label: 'Top Vendors of 2024',
                data: vendorData,
                backgroundColor: 'rgba(54, 162, 235, 0.8)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: true,
            aspectRatio: 1.5,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    };

    // Render the vendor chart
    new Chart(
        document.getElementById('vendorChart'),
        vendorChartConfig
    );
    });
    </script>

</body>
</html>
